
.img {
  display: block;
  width: 100%;
  height: auto;
}

.preview-container {
  width: 100%;
  padding: 10px 10px;
  text-decoration: none;
  color: #000000;
}

* { box-sizing: border-box; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 120px;
}

a, h2 {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  font-weight: 600;
  text-decoration:none;
  color: black;
}

/*fade effect*/
.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}

@media(prefers-reduced-motion){ /*repect fade*/
  .hidden {
    transition: none;
  }

}

@media (max-width: 700px) {
   .header-left, .scienter {
    display: flex;
    font-weight: 100;  
  }
  .header-right {
    display: none; 
  }
  .name{
    bottom: 10px;
  }
  .preview-container {
    width: 100%;
    
  }
  .menu-toggle{
    color: black;
  } 

}
