footer {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 200px;        
  max-width: 1200PX; 
  width: 100%;
  Margin: 0 auto;
  padding-top: 50px;
}
.footer-container{
  display: block;
  font-size: 12px;

}

@media (max-width: 700px){
  .footer-container{
    display: block;
    font-size: 10px;
    
  }
}