footer {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 200px;        
  max-width: 1200PX; 
  width: 100%;
  Margin: 0 auto;
  
}
.footer-container{
  display: block;
  font-size: 12px;

}